@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

#app {
  font-family: 'Raleway';
  color: #121212;
}
a {
  font-family: 'Raleway';
}


.user__modal .el-dialog {
  width: 100%;
}

@media screen and (min-width: 768px){
  .user__modal .el-dialog {
    width: 50%;
  }
}

.dialog-footer{
  display: inline-block;
  margin-top: 30px;
}
